<!-- templates/clients.html -->
{% extends 'base.html' %}

{% block title %}client Yönetimi{% endblock %}

{% block content %}
<div class="card card-custom mb-4">
    <div class="card-body">
        <h5 class="card-title">client Yönetimi</h5>
        <div class="mb-3">
            <a href="{% url 'add_client' %}" class="btn btn-success">Client Ekle</a>
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">E-posta</th>
                    <th scope="col">Visa</th>
                    <th scope="col">Location</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <th scope="row">{{ client.id }}</th>
                    <td>{{ client.name }}</td>
                    <td>{{ client.surname }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.visa }}</td>
                    <td>{{ client.location }}</td>
                    <td>{{ client.priority}}</td>
                    <td>{{ client.password}}</td>
                    <td>
                        <!-- Edit button -->
                        <a href="{% url 'edit_client' client.id %}" class="btn btn-sm btn-primary">Düzenle</a>
                        <!-- Delete button (with confirmation dialog) -->
                        <a href="{% url 'delete_client' client.id %}" class="btn btn-sm btn-danger">Sil</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
